.pagination {
  margin-bottom: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-prev,
.btn-next {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  background-color: var(--white);
}

.pagination span {
  color: #ffad49;
  font-size: 1.1rem;
}
